@font-face {
  font-family: "joystix";
  src: url("assets/joystix.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "joystix";
  color: white;
  font-size: 26px;
}

html,
body {
  padding: 0;
  margin: 0;
  cursor: url("assets/cursor_normal.png") 1 1, auto !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}

html,
body {
  --scale: 7;
  width: 100%;
  height: 100%;
  background-color: #31663c;
  transition: background-color 0.2s, border 0.2s;
}

body {
  border: solid 20px #2b5434;
}

body {
  overflow: hidden;
  display: grid;
  align-content: end;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 70px;
}

.newcard {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border: 2px dashed #3f834d;
  border-radius: 8px;
  margin-inline: 20px;
  cursor: url("assets/cursor_pointer.png") 1 12, auto !important;
  order: 1;
}
.newcard span {
  color: #3f834d;
  font-size: 35px;
  font-weight: 300;
}

.deck {
  position: absolute;
  right: 40px;
  top: 45px;
}

.staticCard {
  width: calc(11px * var(--scale));
  height: calc(18px * var(--scale));
  cursor: url("assets/cursor_deny.png") 1 1, auto !important;
  position: absolute;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1254901961));
  right: 0px;
  top: var(--stack);
  background-image: url(assets/BJ_Cards.png);
  background-repeat: no-repeat;
  background-size: 1800%;
  image-rendering: pixelated;
  background-position: calc(11px * var(--scale) * var(--i) * -1) calc(18px * var(--scale) * var(--t) * -1);
}
.staticCard:nth-child(2) {
  right: 3px;
  rotate: 5deg;
}
.staticCard:nth-child(3) {
  right: -2px;
  rotate: -3deg;
}
.staticCard:nth-child(5) {
  right: -2px;
  rotate: 2deg;
}

.card {
  width: calc(11px * var(--scale));
  height: calc(18px * var(--scale));
  cursor: url("assets/cursor_pointer.png") 1 12, auto !important;
  position: relative;
  transition: 0.2s;
  z-index: 9;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1254901961));
}
.card .front,
.card .back {
  position: absolute;
  transform-style: preserve-3d;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  background-image: url(assets/BJ_Cards.png);
  background-repeat: no-repeat;
  background-size: 1800%;
  image-rendering: pixelated;
  background-position: calc(11px * var(--scale) * var(--i) * -1) calc(18px * var(--scale) * var(--t) * -1);
  transform: perspective(400px) rotateX(180deg);
  backface-visibility: hidden;
}
.card .back {
  background-position: calc(11px * var(--scale) * 16 * -1) calc(18px * var(--scale) * 0 * -1);
  transform: perspective(400px) rotateX(360deg) rotateZ(180deg);
}
.card:nth-child(1) {
  rotate: 6deg;
}
.card:nth-child(2) {
  rotate: -2deg;
}
.card:nth-child(3) {
  rotate: 1deg;
}
.card:hover {
  z-index: 10;
}
.card:hover .front,
.card:hover .back {
  transform: perspective(400px) rotateX(310deg);
}
.card:hover .back {
  transform: perspective(400px) rotateX(490deg) rotateZ(180deg);
}
.card:active {
  rotate: 0deg;
  z-index: 1000;
}
.card:active .front,
.card:active .back {
  transform: perspective(400px) rotateX(360deg);
}
.card:active .back {
  transform: perspective(400px) rotateX(540deg) rotateZ(180deg);
}
.card:active .front {
  scale: 2;
}

body:has(.card:active) {
  background-color: #2b5434;
  border: solid 20px #1d3823;
}
body:has(.card:active) .card:not(:active) {
  filter: brightness(50%);
}

.total {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

/* .dragging {
  animation: begin_drag .8s ease;
} */
@keyframes begin_drag {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: -8deg;
  }
  30% {
    rotate: 6deg;
  }
  55% {
    rotate: -3deg;
  }
  80% {
    rotate: 1deg;
  }
  100% {
    rotate: -1deg;
  }
}/*# sourceMappingURL=style.css.map */