@font-face {
  font-family: "joystix";
  src: url("assets/joystix.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "joystix";
  color: white;
  font-size: 26px;
}

html,
body {
  padding: 0;
  margin: 0;
  cursor: url("assets/cursor_normal.png") 1 1, auto !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}

html,
body {
  --scale: 7;
  width: 100%;
  height: 100%;
  background-color: #31663c;
  transition: background-color 0.2s, border 0.2s;
}

body {
  border: solid 20px #2b5434;
}

body {
  overflow: hidden;
  display: grid;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  align-self: end;
}
.cards.dealer {
  align-self: start;
  padding-top: 140px;
  padding-bottom: 0;
}

.newcard {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border: 2px dashed rgba(102, 255, 102, 0.1882352941);
  border-radius: 8px;
  margin-left: 20px;
  cursor: url("assets/cursor_pointer.png") 8 12, auto !important;
  order: 1;
}
.newcard span {
  color: rgba(102, 255, 102, 0.1882352941);
  font-size: 35px;
  font-weight: 300;
}

.deck {
  position: absolute;
  right: 40px;
  top: 45px;
  display: none;
}

.staticCard {
  width: calc(11px * var(--scale));
  height: calc(18px * var(--scale));
  cursor: url("assets/cursor_deny.png") 1 1, auto !important;
  transition: 0.2s;
  position: absolute;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1254901961));
  right: 0px;
  top: var(--stack);
  background-image: url(assets/BJ_Cards.png);
  background-repeat: no-repeat;
  background-size: 1800%;
  image-rendering: pixelated;
  background-position: calc(11px * var(--scale) * var(--i) * -1) calc(18px * var(--scale) * var(--t) * -1);
}
.staticCard:nth-child(2) {
  right: 3px;
  rotate: 5deg;
}
.staticCard:nth-child(3) {
  right: -2px;
  rotate: -3deg;
}
.staticCard:nth-child(5) {
  right: -2px;
  rotate: 2deg;
}
.staticCard:last-child {
  rotate: -2deg;
}

@keyframes scale {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.card {
  scale: 1;
  --width: 11px;
  --heigth: 18px;
  width: calc(var(--width) * var(--scale));
  height: calc(var(--heigth) * var(--scale));
  /* cursor: $c_pointer; */
  position: relative;
  transition: 0.2s;
  z-index: 9;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1254901961));
  animation: scale 0.3s ease-in-out forwards;
  /* &:hover {
    rotate: 0deg;
    z-index: 1000;

    .front {
      scale: 1.5;
    }
  } */
}
.card .front,
.card .back {
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.2s, background 0s;
  width: 100%;
  height: 100%;
  background-image: url(assets/BJ_Cards.png);
  background-repeat: no-repeat;
  background-size: 1800%;
  image-rendering: pixelated;
  background-position: calc(var(--width) * var(--scale) * var(--i) * -1) calc(var(--heigth) * var(--scale) * var(--t) * -1);
  transform: perspective(400px);
  backface-visibility: hidden;
}
.card .back {
  background-position: calc(var(--width) * var(--scale) * 15 * -1) calc(var(--heigth) * var(--scale) * 0 * -1);
  transform: perspective(400px) rotateX(180deg) rotateZ(180deg);
}
.card:nth-child(1) {
  rotate: 6deg;
}
.card:nth-child(2) {
  rotate: -2deg;
}
.card:nth-child(3) {
  rotate: -1deg;
}
.card:nth-child(4) {
  rotate: 2deg;
}
.card:nth-child(5) {
  rotate: 3deg;
}
.card:nth-child(6) {
  rotate: 5deg;
}
.card:nth-child(7) {
  rotate: -2deg;
}

/* body:has(.card:hover) {
  background-color: $foreground;
  border: solid 20px $dark;

  .card:not(:hover), .staticCard {
    filter: brightness(70%);
  }
}
 */
.total {
  position: absolute;
  left: 40px;
  bottom: 30px;
  text-align: end;
}

.dealertotal {
  position: absolute;
  left: 40px;
  top: 30px;
  text-align: end;
}

.restart {
  position: absolute;
  right: 40px;
  bottom: 35px;
  font-size: 60px !important;
  font-weight: 900 !important;
  cursor: url("assets/cursor_pointer.png") 8 12, auto !important;
  transition: 0.5s;
  transition-timing-function: ease;
}
.restart:hover {
  rotate: 360deg;
}

/* .dragging {
  animation: begin_drag .8s ease;
} */
@keyframes begin_drag {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: -8deg;
  }
  30% {
    rotate: 6deg;
  }
  55% {
    rotate: -3deg;
  }
  80% {
    rotate: 1deg;
  }
  100% {
    rotate: -1deg;
  }
}/*# sourceMappingURL=style.css.map */